#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

input {
    background: grey
}

.animals_mainDiv {
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none
}

.animals_mainDiv img {
    width: 75%;
}

.animals_mainDiv hr {
    width: 230px;
}

.animals_mainDiv h5,
.animals_mainDiv p {
    margin-left: 20px;
}

.phone_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.phone_head i {
    float: right;
}

.phone_text span {
    color: #ff7700;
}

.places_li {
    margin-top: 15px;
}

.places_li h4 {
    border-bottom: 1px solid red;
    padding: 10px;
}

.places_li img {
    border-radius: 30px;
}

.places_li p {
    margin-top: 10px;
}

.header_entrepreneur {
    line-height: 2;
}

.youtubers {
    cursor: pointer;
}

.youtubers hr {
    margin-bottom: 10px;
}

.modal-content {
    margin-top: 100px;
}

.img_modal {
    display: inline-block;
}

.p_modal {
    margin-top: 10px;
}

.modal-body {
    text-align: center;
}
